          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rate My Game</a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <%= nav_link "Publishers", publishers_path%>
              <%= nav_link "Games",games_path%>
              <%= nav_link "Ratings", ratings_path%>
            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Username">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-success disabled">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        